In [2]:
def kunja():
    print("hie")
print("top")
kunja()
print("bottom")

top
hie
bottom

In [3]:
def kunja(name):
    print("helloc!, "+name+".")
    
kunja("kunja")

helloc!, kunja.

In [1]:
def deposite(x,y):
    return int(x)+int(y)
def withdraw(x,y):
    return int(x)-int(y)

cont = "y"
while cont== "y":
    print("Enter your choice:\n1.Withdraw\n2.Deposite\n3.Show Balance")
    choice=input("your choice is:")
    amount=50000
    name="kunja bijukchhe"
    if choice=='1':
        a=input("Enter a withdraw amount:")
        if int(a) <= int(amount):
                print(withdraw(amount,a))
        else:
                print("invalid")
    elif choice=='2':
        b=input("Enter your deposit amount:")
        print(deposite(amount,b))

    elif choice=='3':
        print("Your name is "+name+".")
        print("your current balance is Rs."+str(amount))
    else:
        print("invaild")

    cont = input("Continue?y/n:")
    if cont == "n":
        break

Enter your choice:
1.Withdraw
2.Deposite
3.Show Balance
your choice is:5
invaild
Continue?y/n:3

In [ ]:
cont = "y"
while cont.lower() == "y":
    print("Select operation\n1.Add\n2.Subtract\n3.Multiply\n4.Divide")

    choice = input("Enter choice(1/2/3/4):")

    num1 = int(input("Enter first number: "))
    num2 = int(input("Enter second number: "))

    if choice == '1':
       print(num1,"+",num2,"=", (num1 + num2))

    elif choice == '2':
       print(num1,"-",num2,"=", (num1 - num2))

    elif choice == '3':
       print(num1,"*",num2,"=", (num1 * num2))

    elif choice == '4':
       print(num1,"/",num2,"=", (num1 / num2))
    else:
       print("Invalid input")
    cont = input("Continue?y/n:")
    if cont == "n":
        break

In [ ]:
def deposite(x,y):
    return int(x)+int(y)
def withdraw(x,y):
    return int(x)-int(y)

cont = "y"
while cont== "y":
    print("Enter your choice:\n1.Withdraw\n2.Deposite\n3.Show Balance")
    choice=input("your choice is:")
    amount=50000
    name="kunja bijukchhe"
    if choice=='1':
        a=input("Enter a withdraw amount:")
        if int(a) <= int(amount):
                print(withdraw(amount,a))
        else:
                print("invalid")
    elif choice=='2':
        b=input("Enter your deposit amount:")
        print(deposite(amount,b))

    elif choice=='3':
        print("Your name is "+name+".")
        print("your current balance is Rs."+str(amount))
    else:
        print("invaild")

    cont = input("Continue?y/n:")
    if cont == "n":
        break

In [ ]:
def deposite(x,y):
    return int(x)+int(y)
def withdraw(x,y):
    return int(x)-int(y)

cont = "y"
while cont.lower()== "y":
    print("Enter your choice:\n1.Withdraw\n2.Deposite\n3.Show Balance")
    choice=input("your choice is:")
    amount=50000
    name="kunja bijukchhe"
    if choice=='1':
        a=input("Enter a withdraw amount:")
        if int(a) <= int(amount):
                print(withdraw(amount,a))
        else:
                print("invalid")
    elif choice=='2':
        b=input("Enter your deposit amount:")
        print(deposite(amount,b))

    elif choice=='3':
        print("Your name is "+name+".")
        print("your current balance is Rs."+str(amount))
    else:
        print("invaild")

    cont = input("Continue?y/n:")
    if cont == "n":
        break

In [1]:
2==2

True

In [2]:
"bye"=="bye"

True

In [1]:
2**2

4

In [5]:
3 %4

3

In [6]:
35%2

1

In [7]:
20%2

0

In [8]:
0.1

0.1

In [15]:
a="kunja"
print(a)

kunja

In [ ]:
a=b

In [16]:
b=3
a

'kunja'

In [17]:
a=5

In [18]:
a=a+a

In [19]:
a

10

In [20]:
type(a)

int

In [21]:
b=3.3
type(b)

float

In [24]:
a="kunja"
type(a)

str

In [25]:
a=100
b=0.1
c=a*b
c

10.0

In [40]:
a="kunja bijukchhe"
a[1]
a.index("u")

1

In [41]:
a[::]

'kunja bijukchhe'

In [30]:
a

'kunja bijukchhe'

In [38]:
a[:8]

'kunja bi'

In [46]:
a[1::3]

'uaikh'

In [4]:
name="kunja"
name2=name[1:]
"ani"+name2

'aniunja'

In [13]:
a='hello '
a=a+'world!'
a

'hello world!'

In [11]:
a="c"
a*10

'cccccccccc'

In [14]:
2+3

5

In [15]:
'2'+'3'

'23'

In [24]:
x="hello world"
print(x.split("l"))
print(x.split())

['he', '', 'o wor', 'd']
['hello', 'world']

In [26]:
a=print("hello")

hello

In [28]:
print("this is string {}".format("inserted"))

this is string inserted

In [34]:
print("the {0} {2} {0}".format("fox","brown","quick"))

the fox quick fox

In [58]:
aB=100/777
aB
print("the result is {a:1.2f}".format(a=aB))

the result is 0.13

In [63]:
a="kunja"
print("hello! "+a)

hello! kunja

In [62]:
print(f"hello! {a}")

hello! kunja

In [73]:
print("i'm name is %r" %"kunja")

i'm name is 'kunja'

In [70]:
name ="kunja"
print("i'm name is", name)

i'm name is kunja

In [72]:
print("i'm name is "+name+".")

i'm name is kunja.

In [1]:
kunja=[1,2,3]

In [3]:
kunja[1]=5

In [5]:
kunja

[1, 5, 3]

In [13]:
kunja=[2,4]
kunja1=[1,3,5]

In [15]:
a=kunja+kunja1

In [16]:
a

[2, 4, 1, 3, 5]

In [17]:
kunja

[2, 4]

In [18]:
a.extend(kunja)

In [19]:
a

[2, 4, 1, 3, 5, 2, 4]

In [25]:
a+=a

In [24]:
a

[2, 4, 1, 3, 5, 2, 4, 2, 4, 1, 3, 5, 2, 4]

In [22]:
a

[2, 4, 1, 3, 5, 2, 4, 2, 4, 1, 3, 5, 2, 4]

In [27]:
kunja1.pop()

5

In [28]:
a.sort()

In [29]:
a

[1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5]

In [30]:
kunja.sort()

In [31]:
kunja

[2, 4]

In [32]:
a

[1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5]

In [34]:
kunja=[7,8,9,5,4,2,4,15,3,1,52,41]

In [35]:
kunja.sort()

In [36]:
kunja

[1, 2, 3, 4, 4, 5, 7, 8, 9, 15, 41, 52]

In [37]:
type(kunja)

list

In [39]:
kunja.reverse()

In [40]:
kunja

[52, 41, 15, 9, 8, 7, 5, 4, 4, 3, 2, 1]

In [41]:
kunja[1:]

[41, 15, 9, 8, 7, 5, 4, 4, 3, 2, 1]

In [43]:
kunja[1::2]

[41, 9, 7, 4, 3, 1]

In [5]:
a="kunja"
b=18
print("I'm name is",a+". And your age is ",b)

I'm name is kunja. And your age is  18

In [23]:
a=0.1
b=0.2
c=0.3
e=float(a)+float(b)-float(c)
print("%.54f"%e)

#35.551115123125783e-17

0.000000000000000055511151231257827021181583404541015625

In [24]:
kunja1=[1,2,3]
kunja2=[4,5,6]
kunja3=[7,8,9]
kunja4=[kunja1,kunja2,kunja3]
print(kunja4)
a=kunja4[0][1]
b=kunja1[1]
print(a)
print(b)
c=[row[0] for row in kunja4]
d=[row[1] for row in kunja4]
e=[row[2] for row in kunja4]
print(c)
print(d)
print(e)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
2
2
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [25]:
print("this number is called %.2f" %3.7)
print("this number is called %s" %3.7)
print("this number is called %d" %3.7)
a=22/7
print("the value of %.51f" %a)
kunja=[18,18.22,"kunja"]
b=kunja*2
print(b)

this number is called 3.70
this number is called 3.7
this number is called 3
the value of 3.142857142857142793701541449991054832935333251953125
[18, 18.22, 'kunja', 18, 18.22, 'kunja']

In [26]:
a="kunja"
b=18
print("I'm name is",a+". And your age is ",b)
print("I'm name is %r" %"kunja")
print("I'm name is %s" %"kunja")

I'm name is kunja. And your age is  18
I'm name is 'kunja'
I'm name is kunja

In [1]:
kunja

NameError: name 'kunja' is not defined

In [2]:
"kunja"

'kunja'

In [3]:
mt_dict={"key1":"value1","key2":"value2","key3":{"and":100}}

In [11]:
mt_dict['key3']['and']

KeyError: 'key3'

In [5]:
mt_dict["key1"]

'value1'

In [12]:
kunja=(1,2,3)
kunja

(1, 2, 3)

In [16]:
len(kunja)

3

In [19]:
kunja.count(1)

1

In [20]:
myset=set()
myset

set()

In [21]:
myset.add("a")

In [22]:
myset

{'a'}

In [28]:
lists=[1,1,1,1,1,2,3,4,5]
set(lists)

{1, 2, 3, 4, 5}

In [29]:
bool=True
bool

True

In [30]:
type(False)

bool

In [31]:
1>2

False

In [37]:
1==1

True

In [38]:
%%writefile myfile.txt
hello i'm kunja.

Writing myfile.txt

In [39]:
myfile=open("myfile.txt")

In [41]:
pwd

'/home/kunja/python'

In [42]:
myfile=open("myfile.txt")

In [44]:
myfile.read()

TypeError: write() takes exactly one argument (0 given)

In [46]:
myfile.read()

''

In [47]:
myfile.seek(0)

0

In [48]:
myfile.read()

"hello i'm kunja.\n"

In [49]:
myfile.write("i'm funny")

UnsupportedOperation: not writable

In [1]:
a=10
type(a)

int

In [4]:
%%writefile kunja.txt
kunja=CEO

Writing kunja.txt

In [5]:
a=open("kunja.txt")
print(a.read())

kunja=CEO

In [10]:
a=open("kunja.txt","a")
a.write("\nkunja=Staff")

12

In [11]:
a=open("kunja.txt")
print(a.read())

kunja=CEO

kunja=Staffkunja=Staff
kunja=Staff

In [14]:
a=open("kunja1.txt","w")
a.write("kunja=CEO")

9

In [15]:
a=open("kunja1.txt")
print(a.read())

kunja=CEO

In [1]:
2**38

274877906944

In [3]:
a=input("enter your name")
a[::-1]

enter your namekunja

'ajnuk'

In [5]:
a="kunja"
a[::-1]

'ajnuk'

In [6]:
a=[1,2,["hello"]]
a

[1, 2, ['hello']]

In [14]:
a[2]="goodbye"

In [15]:
a

[1, 2, 'goodbye']

In [18]:
a=[5,4,7,8,9,6,3,8]
a.sort()
a

[3, 4, 5, 6, 7, 8, 8, 9]

In [19]:
a

[3, 4, 5, 6, 7, 8, 8, 9]

In [29]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]
#l_one[2][1]
l_two[2]["k1"]

4